# Data Storage
DATA_ROOT=../ecommerce-data

# Database Configuration
JAVA_DB_USERNAME=postgres
JAVA_DB_PASSWORD=
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/dev

# Security
JAVA_JWT_SECRET=your_jwt_secret_here

# MinIO
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=fashion-store
MINIO_ENDPOINT=http://localhost:9000
MINIO_ENDPOINT_DOCKER=http://minio:9000

# ERPNext Integration
ERPNEXT_API_URL=http://localhost:8000/api/resource/Item
ERPNEXT_API_KEY=your_api_key
ERPNEXT_API_SECRET=your_api_secret

# Redis
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_HOST_DOCKER=redis

# SkyWalking (Observability)
SW_AGENT_NAME=ecommerce-backend
SW_OAP_ADDRESS=localhost:11800
SW_OAP_ADDRESS_DOCKER=skywalking-oap:11800

# Keycloak
KC_ADMIN_USER=
KC_ADMIN_PASSWORD=
KC_URL=http://localhost:8082
