{
    # Global options
    email vasu2srinivas29@gmail.com
}

localhost {
    # Consolidated Modulith Service
    handle /api/* {
        reverse_proxy modulith-service:8080
    }
    
    # Storefront (Running on host port 3001)
    # If Caddy is in Docker, and storefront is on host, we use host.docker.internal
    handle /* {
        reverse_proxy host.docker.internal:3001
    }
}
